* {
    margin: 0;
    padding: 0;
}

.fretboard {
    background: #be975b;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}