asgiref==3.6.0
Django==4.1.5
sqlparse==0.4.3
psycopg2-binary>=2.8
python-environ>=0.4.54
selenium==4.8.0
chromedriver-binary==83.0.4103.39.0
mingus==0.6.1
pydub==0.25.1
channels-redis==4.0.0
daphne==4.0.0
numpy==1.26.0
ffprobe-python==1.0.3