{% extends 'base.html' %}

{% block fretboard %}


<div class="fretboard-settings">
    <label for="instrument-selector">Selected instrument:</label>
    <select name="instrument-selector" id="instrument-selector">
    </select>
    <div class="accidental-selector">
        <input type="radio" class="acc-select" id="sharps" name="accidentals" value="sharps" checked>
        <label for="sharps">♯</label>
        <input type="radio" class="acc-select" id="flats" name="accidentals" value="flats">
        <label for="flats">♭</label>
    </div>
    <label for="number-of-frets">Number of frets: </label>
    <input type="number" id="number-of-frets" min="5" max="30" value="12">

    <label for="show-all-notes">Show all notes: </label>
    <input type="checkbox" id="show-all-notes">

    <label for="show-duplicate-notes">Show duplicate notes: </label>
    <input type="checkbox" id="show-duplicate-notes">



</div>
<div class="fretboard">
</div>


<div class="chord-name-section">
    {% for key, value in chords %}
      {% if forloop.counter0|divisibleby:3 %}
        <div class="chord-group">
      {% endif %}
      <div class="chord-name">{{ key }}:</div>
      <div class="chord-notes">{{ value }}</div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

<div class="note-name-section">
</div>

<div class="metronome-container">
    <div class="metronome">
        <div class="bpm-display">
            <span class="tempo">140</span>
            <div class="test">F A C</div>
            <span class="bpm">BPM</span>
        </div>
        <div class="tempo-text">Medium</div>
        <div class="tempo-settings">
            <div class="adjust-tempo-button decrease-tempo">-</div>
            <input type="range" min="20" max="280" step="1" class="tempo-slider">
            <div class="adjust-tempo-button increase-tempo">+</div>
        </div>
        <div class="metronome-start-stop-button">Start</button>
        </div>
        <div class="measures">
            <div class="subtract-beats stepper">-</div>
            <div class="measure-count">4</div>
            <div class="add-beats stepper">+</div>
        </div>
        <div class="beats-per-measure-text">Beats per measure</div>
    </div>
</div>

<div class="intervals-container">
    
    <div class="chords-notes-selector">
        <button>Chords</button>
    </div>
    <div class="interval-button">
        <div class="note">Note</div>
        <div class="sound-direction">Direction</div>
        <button class="stop-interval-button">Listening</button>
    </div>
    {{ user_name|json_script:'user_name' }}
</div>
{% endblock %}


{% block fretboard_scripts %}
    <script src="/static/metronome.js" type="module"></script>
    <script src="/static/timer.js"></script>
    <script src="/static/fretboard.js"></script>
    <script src="/static/intervals_websocket.js"></script>
{% endblock %}