{% extends 'base.html' %}

{% block fretboard %}

<div class="fretboard">
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note single-fretmark"></div>
        <div class="fret-note"></div>
        <div class="fret-note single-fretmark"></div>
        <div class="fret-note"></div>
        <div class="fret-note single-fretmark"></div>
        <div class="fret-note"></div>
        <div class="fret-note single-fretmark"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
    <div class="string">
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
        <div class="fret-note"></div>
    </div>
</div>
{% endblock %}

{% block fretboard_scripts %}
    <script></script>
{% endblock %}