{% extends 'base.html' %}

{% block table %}
        <button onclick="rep()">Replace</button>
        <div class="song_text">
            <pre>
                {{ song.text }}
            </pre>
        </div>
        
        <h1>Create chunk for {{ song.name }}</h1>
        <button hx-get="{% url 'chunk_form' %}" hx-swap="beforeend" hx-target="#chunkform"> Submit </button>

        <table id="id_song_table" class="table">
            {% for chunk in song_chunks %}
            <tr>
                <td>
                    {% include 'partials/chunk_detail.html' %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div id="chunkform"></div>

{% endblock %}

{% block page_scripts %}
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>
    <script src="/static/song_page.js"></script>
{% endblock %}