{% extends 'base.html' %}

{% block header_text %}Your Music List for ({{ song.name }}){% endblock %}

{% block form_action %}{% url 'song_page' song.id %}{% endblock %}

{% block form_content %}{{ form.text }}{% endblock %}

{% block form_errors %}{{ form.text.errors }}{% endblock %}

{% block table %}
        <table id="id_song_table" class="table">
            {% for item in song.sketch_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>
{% endblock %}