{% extends 'base.html' %}

{% block header_text %}Your Music List for ({{ song.name }}){% endblock %}

{% block form_action %}{% url 'song_page' song.id %}{% endblock %}

{% block form_content %}{{ form.as_p }}{% endblock %}

{% block table %}
        <button onclick="rep()">Replace</button>
        <div class="song_text">
            <pre>
                {{ song.text }}
            </pre>
        </div>
        <table id="id_song_table" class="table">
            {% for item in song.sketch_set.all %}
           
                <tr><td><data id="data-{{ item.id }}">{{ forloop.counter }}: {{ item.text }}
                    <input class='chunk-input' value='{{ item.text }}' hidden>
                    <button class='edit-chunk' onclick="edit('data-{{ item.id }}')">edit {{ item.id }}</button>
                    <button class='save-chunk' onclick="save('data-{{ item.id }}')" hidden>save {{ item.id }}</button>
                    <button class='delete-chunk'>delete {{ item.id }}</button>
                </data>
                </td></tr>
            {% endfor %}
        </table>

{% endblock %}

{% block page_scripts %}
    <script src="/static/song_page.js"></script> 
{% endblock %}